.row
  .col-md-12
    .page-header
      %h1
        nafasi Plans

    = link_to 'Add New Plan', new_plan_option_path, class: "btn btn-primary btn-lg"
    = link_to 'Stripe Dashboard', "https://dashboard.stripe.com/", target: "_blank", class: "btn btn-info btn-lg"

.row
  .col-md-12
    .table-wrapper
      %table.table
        %thead
          %tr
            %th Title
            %th Stripe ID
            %th Price
            %th Max Ideas
            %th Options
        %tbody
          - @plan_options.each do |plan_option|
            %tr
              %td
                = plan_option.title
              %td
                = plan_option.stripe_plan_id
              %td  
                = number_to_currency(plan_option.price)
              %td
                = plan_option.idea_max
              %td
                = link_to 'Edit', edit_plan_option_path(plan_option)
                = link_to 'Delete', plan_option, method: :delete, data: { confirm: 'Are you sure you want to delete '+plan_option.title+'? Note: You must also remove the plan via the Stripe dashboard' }, title: 'delete '+plan_option.title, class: 'plan_option-delete'
